.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 100;
  
  @media (max-width: 900px) {
    
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
}

.side-filter-menu{
  padding: 20px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: sticky;
  height: 100%;
  top: 0px;
  color: #717171;
  background-color: #fff;
  transition: all 0.3s ease;
  
  @media (max-width: 900px) {
    // display: none;
    height: 90vh !important;
    position: fixed !important;
    z-index: 200;
    min-width: 62.5%;
    width: 100%;
    left: 0;
    bottom: 0% !important;
    transform: translateY(100vh);
    padding: 0;
    overflow-y: scroll;
    background-color: #FFFFFF;
    border-radius: 15px 15px 0px 0px;

    &.open {
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
      bottom: 0 !important;
      transform: translateY(10vh);
    }
  }

  .filter-header{
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.8px solid lightgray;
    padding: 15px 4.55% 10px;
    display: none;

    @media (max-width: 900px) {
      display: flex;
    }
  }

  h2{
    @media (max-width: 900px) {
      font-size: 1.2rem;
    }
  }


  &__close-button {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: #ff4b4b;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    @media (max-width: 900px) {
      display: flex;      
    }
  }

  .sort{
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 20px 5%;

    @media (max-width: 900px) {
      display: flex;
    }

    .sortContainer{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }

  .category{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 5% 0;
    // margin-top: 10px;

    div{
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .size{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 5%;

    .sizeContainer{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      div{
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  .price{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 5%;

    .priceItem{
      display: flex;
      flex-direction: column;
      gap: 12px;

      input[type="range"] {
        width: 100%;
        -webkit-appearance: none;
        background: transparent;
      
        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 4px;
          cursor: pointer;
          background: #ddd;
          border-radius: 4px;
        }
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          background: #4caf50;
          background-color: #FFFFFF;
          border: 2px solid var(--primary-color);
          cursor: pointer;
          margin-top: -6.88px; /* Adjust based on the track height */
        }
        &::-moz-range-thumb {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background: #4caf50;
          background-color: #FFFFFF;
          border: 2px solid var(--primary-color);
          cursor: pointer;
        }
      
        &::-ms-thumb {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background: #4caf50;
          background-color: #FFFFFF;
          border: 2px solid var(--primary-color);
          cursor: pointer;
        }
      
        &:focus {
          outline: none;
        }
      
        &:focus::-webkit-slider-runnable-track {
          background: #ccc;
        }
      }
    }

    .priceValue{
      width: 100%;
      display: flex;
      justify-content: space-between;
      

      span{
        font-size: 1.1rem;
      }
    }

    .priceContainer{
      display: flex;
      flex-direction: column;
      gap: 10px;

      div{
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }




  .color{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 5% 40px;

    .colorContainer{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      div{
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }


  .btns{
    display: flex;
    padding: 0 5% 40px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}