.checkout{
  width: 100%;
  border: 0.8px solid lightgray;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px 0;

  h2{
    display: flex;
    padding: 10px 15px;
    border-bottom: 0.8px solid lightgray;
  }

}