.quantity {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  margin-left: -6px;

  button {
    // background-color: #007bff;
    color: var(--primary-color);
    background-color: #FFF;
    border-radius: 50%;
    border: 0.8px solid var(--primary-color);
    // padding: 10px 15px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    // background: red;

    &:disabled {
      background-color: #ddd;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      color: white;
      background-color: var(--primary-color);
    }

    @media (max-width: 600px) {
      width: 22px;
      height: 22px;
    }
  }

  span {
    // margin: 0 15px;
    font-size: 16px;
    min-width: 30px;
    text-align: center;
    // background: red;
  }
}
