.cardbox{
  margin-top: 24px;

  
  .product-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    min-height: 68vh;

    gap: 16px;
    justify-content: space-between;
    
    @media (max-width: 1200px) {

      grid-template-columns: repeat(3, 1fr); 
      gap: 15px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
      gap: 8px;
    }



    .error-message{
      color: red;
    }


    .no-products{
      width: 100% !important;
      height: 60vh;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: rgba(0,0,0,0.25);
      color: white;
      font-weight: 500;
      text-transform: capitalize;
      border-radius: 10px;
      border: 1px solid rebeccapurple;
    }
  }


  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    h2{
      flex: 2;
      text-transform: capitalize;
    }

    p{
      flex: 3;
      color: gray;
    }
  }

  .bottom{
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}