<<<<<<< HEAD
@import "../../styles/variables";

=======
>>>>>>> origin/main
.footer{
  width: 100%;
  min-height: 200px;
  color: #FFFFFF;
  background-color: black;

<<<<<<< HEAD
  // padding: 68px 40px 20px;
  // padding: 0px 40px 20px;
=======
  padding: 68px 40px 20px;
>>>>>>> origin/main
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
<<<<<<< HEAD
  // gap: 48px;

  
  
  
  
  .subscribe{
    width: 100%;
    background-color: lightgray;
    // background: red;
    padding: 68px 40px 48px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
    @media (max-width: 600px) {
      padding: 48px 4.5% 28px;
    }



    p{
      // color: var(--primary-color);
      color: #181818;
      font-weight: 400;
      // font-size: 2rem;
    }

    form{
      // background: red;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      display: flex;
      // align-items: flex-end;
      justify-content: flex-end;
      // flex-direction: column;
      gap: 10px;
      position: relative;
      overflow: hidden;
      // border-radius: 8px;
      // border: 0.8px solid var(--accent-color);


      input{
        width: 100%;
        height: 100%;
        // min-height: 40px;
        border-radius: 50px;
        border: 1px solid transparent;
        padding: 8px 20px;
        color: var(--dark-text);
        font-weight: 500;
        position: absolute;
        top: 0;
        left: 0;
        // z-index: -1;
        background-color: whitesmoke;
        &::placeholder{
          font-weight: 400;
        }
        &:focus{
          border: 1px solid var(--primary-color) !important;
        }
        @media (max-width: 600px) {
          // border-radius: 8px !important;
        }
      }
    }
  }


  .top{
    width: 100%;
    // height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #242424;
    padding: 20px 40px;

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .socials{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      // flex-direction: column;
      gap: 18px;

      .follow{
        // margin-top: 1rem;
        font-size: 1.8rem;
        font-weight: 600;

        
      }
      .icons{
        display: flex;
        align-items: center;
        gap: 10px; 

        .social-icons{
          margin-right: 10px;
          font-size: 2.8rem;
        }
      }
    }

    .apps{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // background: red;
      gap: 12px;
      // margin-top: 18px;

      img{
        width: auto;
        height: 48px;
        cursor: pointer;

        @media (max-width: 600px) {
          // width: 60%;
        }
      }
    }
=======
  gap: 48px;

  @media (max-width: 600px) {
    padding: 48px 4.5% 20px;
>>>>>>> origin/main
  }
  
  
  
  .row{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
<<<<<<< HEAD
    padding: 68px 40px 20px;
=======
>>>>>>> origin/main
    
    @media (max-width: 900px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 28px;
<<<<<<< HEAD
      padding-inline: 4.5%;
=======
>>>>>>> origin/main
    }
    @media (max-width: 600px) {
      flex-wrap: wrap;
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }


    .col{
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      .footer-logo{
        font-size: 3.2rem;
<<<<<<< HEAD
        // font-family: var(--flavor-font);
        font-family: $flavor-font;
=======
        font-family: var(--flavor-font);
>>>>>>> origin/main
        margin-bottom: 4px;
      }

      h4{
        font-size: 1.68rem;
        font-weight: 500;
        margin-bottom: 8px;
      }

      p{
        font-size: 1.28rem;
        letter-spacing: .02em;
        line-height: 2.4rem;
        color: lightgray;


        a{
<<<<<<< HEAD
          text-decoration: none;

          &:hover{
            color: lightgray;
            opacity: 0.8;
            text-decoration: underline;
          }
        }
      }


=======
          text-decoration: underline;

          &:hover{
            color: gray;
            opacity: 0.8;
          }
        }       
        
        .social-icons{
          margin-right: 10px;
          font-size: 1.8rem;
        }
      }
>>>>>>> origin/main
      a{
        font-size: 1.4rem;
      }


<<<<<<< HEAD
      
=======
      .apps{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 18px;

        img{
          width: 50%;
          cursor: pointer;

          @media (max-width: 600px) {
            // width: 60%;
          }
        }
      }
>>>>>>> origin/main

      form{
        width: 100%;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        input{
          width: 100%;
          min-height: 40px;
<<<<<<< HEAD
          border-radius: 8px;
          padding: 8px 16.8px;
          color: var(--dark-text);
          font-weight: 400;
          // background-color: lightgray;

          &:focus{
            border: 1px solid var(--primary-color) !important;
          }
=======
          border-radius: 50px;
          padding: 10px 20px;
          // background-color: lightgray;

>>>>>>> origin/main
          @media (max-width: 600px) {
            border-radius: 8px !important;
          }
        }
      }
    }
  }

  .copyrights{
    text-align: center;
    line-height: 4rem;
<<<<<<< HEAD
    margin-block: 1rem;
    // background: red;
=======
>>>>>>> origin/main
  }
}