@import "../../styles/variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.nav{
  width: 100%;
  height: 68px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  position: relative;

  @media (max-width: 600px){
    height: 68px;
    padding: 0 4.5%;
  }
  

  .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;

    font-family: $flavor-font;

    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;

    @media (max-width: 600px) {
      font-size: 2rem;      
    }
  }




  

  #menuBtn{
    display: none;
    
    @media (max-width: 600px) {  

      &:checked ~ .right{
        display: flex;
      }
      &:checked ~ label span:first-child{
        transform: rotate(45deg) translateY(9.5px) translateX(0.5px);
      }
      &:checked ~ label span:nth-child(2){
        opacity: 0;
      }
      &:checked ~ label span:last-child{
        transform: rotate(-45deg) translateY(-9.5px) translateX(0.5px);
      }
    }
  }
  label{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    @media (max-width: 600px) {
      // display: flex;
    }

    span{
      display: flex;
      width: 22px;
      height: 2px;
      background-color: #FFFFFF;
      transition: all 0.4s ease-in-out;
    }
  }
  

  .right{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #FFFFFF;


    .nav-options{
      display: flex;
      align-items: center;
      gap: 15px;

      .nav-icons{
        color: black;
        background-color: #FFFFFF;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;

        &:hover{
          color: var(--primary-color);
          opacity: 0.8;
        }
      }

      .icon{
        position: relative;

        span{
          pointer-events: none;
          font-size: 0.88rem;
          font-weight: 400;

          width: 20px;
          border-radius: 50%;
          height: 20px;
          background-color: #2879fe;
          background-color: #F84F31;

          color: white;
          position: absolute;
          top: -10px;
          right: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .cart-value,
        .fav-value {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: red;
          color: white;
          border-radius: 50%;
          padding: 2px 6px;
          font-size: 12px;
        }      
      }
    }


    &:hover{
      color: #FFFFFF;
      background-color: transparent;
    }
      
  }
}


